
html, body {
  margin                 : 0;
  -webkit-font-smoothing : antialiased;
}

body {
  background-color : #333;
}

.static {
  position : absolute;
  left     : 0;
  top      : 0;
}

#main-bg {
  .static();
  width      : 900px;
  height     : 250px;

  background : url('../img/background.jpg') no-repeat;
  text-align : center;
}

#promo {
  position   : relative;
  width      : 594px;
  height     : 154px;

  margin     : auto;
  background : url('../img/promo.png') no-repeat;
}

#kicker {
  .static();
  width  : 900px;
  height : 250px;

  & > * {
    .static();
  }
}

#disclaimer {
  position           : absolute;
  top                : 228px;
  left               : 324px;

  color              : #FFFFFF;
  font-family        : 'Open Sans', Arial, sans-serif;
  font-size          : 9px;
  font-weight        : 700;
  text-align         : center;
  letter-spacing     : -0.6px;

  opacity            : 0;
  cursor             : default;

  -webkit-transition : opacity 300ms ease-out 2750ms;
  -moz-transition    : opacity 300ms ease-out 2750ms;
  -o-transition      : opacity 300ms ease-out 2750ms;
  transition         : opacity 300ms ease-out 2750ms;
}

#loader {
  position    : absolute;
  left        : 430px;
  top         : 210px;

  color       : #CCCC00;
  font-family : Arial, sans-serif;
  font-size   : 12px;
  font-weight : 600;
  text-shadow : 0 0 1px rgba(0, 0, 0, 0.5);
  text-align  : center;
  line-height : 14px;

  p {
    margin : 0;
  }
}
